<h1>SuperBlog</h1>

<% @posts.each do |post| %>
  <p><%= post.title %></p>
  <p><%= post.content %></p>
  <%= link_to  "Ver post", post_path(post)  %>
  <% if current_user %>
    <%= link_to  "Editar", post_path(post)  %>
    <%= link_to  "Eliminar", post_path(post), method: :delete, data: {confirm: "Está seguro de eliminar este artículo?"}  %>
  <% end %>
  <% end %>
<br>

<% if user_signed_in? %>
<%= link_to  "Crear post", new_post_path %>
<% end %>
