<h1>SuperBlog</h1>

<% @posts.each do |post| %>
  <p><%= post.title %></p>
  <% if post.content.length > 250 %>
    <p><%= truncate(post.content, length: 250) %></p>
  <% else %>
    <%= post.content %>
  <% end %>
  <p><%= time_ago_in_words(post.created_at) %> atrás, Creado por <%= post.user.username %></p>

  <%= link_to  "Ver post", post_path(post)  %>
  <% if user_signed_in? %>
    <% if current_user.id == post.user.id %>
      <%= link_to  "Editar", post_path(post)  %>
      <%= link_to  "Eliminar", post_path(post), method: :delete, data: {confirm: "Está seguro de eliminar este artículo?"}  %>
    <% end %>
  <% end %>
  <% end %>
<br>

<% if user_signed_in? %>
<%= link_to  "Crear post", new_post_path %>
<% end %>

