<div class="container-fluid my-5">
  <div class="row">

    <div class="col-md">
      <div class="card text-white bg-warning mb-3 mx-auto" style="max-width: 20rem;">
        <div class="card-header text-center"> <%= @post.user.username %> </div>
        <div class="card-body">
          <%= image_tag gravatar_url(@post.user.email , 150), alt: "", class:"rounded-circle mx-auto d-block" %>
          <h4 class="card-title mt-2 text-center">Acerca del autor</h4>
          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of
            the card's content.
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
        </div>
      </div>

      <div class="text-center my-5">
        <%= link_to  (fa_icon "arrow-circle-left 5x"), posts_path, class:"rm-deco"%>
      </div>

    </div>

    <div class="col-md-6">
      <div class="mx-2">
        <h1 class="font-weight-bold""><%= @post.title %></h1>
        <p class=" mt-3"><%= @post.content %></p>
          <span
            class="badge badge-pill <%= bg_badge(@post.category.name) %> mt-2 float-right"><%= @post.category.name %></span>
          <div class="my-4">
            <% if user_signed_in? %>
            <% if current_user.id == @post.user.id %>
            <%= link_to  "Editar", edit_post_path(@post), class:"btn btn-outline-primary" %>
            <%= link_to  "Eliminar?", post_path(@post), method: :delete, data: {confirm: "Está seguro de eliminar este artículo?"}, class:"btn btn-outline-danger"  %>
            <% end %>
            <% end %>
            <div class="my-5">
              <h2> <mark class="bg-warning">Comentarios</mark> </h2>
              <div class="my-4">

                <div id="comment-list">
                  <%= render @post.comments.reject(&:new_record?) %>
                </div>

                <div id="comment-form">
                  <% if user_signed_in? %>
                  <%= render 'comments/form' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="col-md">
      <div>
        <div class="my-3">
          <h3>Más posts por <strong><%= @post.user.username %></strong> </h3>
        </div>
        <ul class="list-group">
          <% @post.user.posts.each do |post| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <p><%= link_to  post.title, post_path(post), class:"rm-deco font-neu"%></p>
            <span class="badge badge-primary badge-pill"> <%= post.comments.count %> </span>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>