<!DOCTYPE html>
<html>
  <head>
    <title>SuperBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render  "layouts/navbar"%>
    
    <% flash.each do |key, value| %>
   <div class="msg-alert">
    <div class="<%= flash_class(key) %>">
      <p class="mb-0"><%= value %></p> 
    </div>
    <% end %>
   </div>
    
     <%= yield %>

  <script>
    $(".alert").fadeIn(500).css("opacity", "0.85").delay(6000).slideUp(1000);
    $(".msg-alert").on('click', '.alert', function () { $(this).remove() })
  </script>
  </body>
</html>
